.header-section{
    background-color: rgba(70,220,70,0.2);
    height: 200px;
    border-bottom: solid 1px;
}

.logo-space{
    text-align: center;
}

.main-title{
    text-align: center;
}
.content-section{
    height: 880px;
}
.navigation-section{
    border-right: solid 1px; 
    height: 100%;
}
.entry-section{
    height: 100%;
}
.preview-section{
    border-left: solid 1px; 
    height: 100%;
}